.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.icon {
  width: 45px;
  height: 45px;
  overflow: hidden;
}

.icon img {
  width: 45px;
  height: 45px;
}

.nameTypeContainer {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.name {
  height: 20px;
  overflow-y: hidden;
}

.accountType {
  display: flex;
  flex-direction: row;
  flex: 2;
  align-items: baseline;
}

.balanceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chevron {
  align-self: flex-start;
  padding-top: 6px;
}
