.selectorContainer {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  /* width: ${size}px; */
  justify-content: center;
  align-items: center;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: rgba(118, 118, 128, 0.24);
}

.option {
  width: 88px;
  font: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px 6px 12px;
  text-align: center;
}

.selected {
  border-radius: 10px;
  @media (prefers-color-scheme: dark) {
    background-color: rgba(118, 118, 128, 0.24);
  }

  @media (prefers-color-scheme: light) {
    background-color: white;
  }
}

.disabled {
  @media (prefers-color-scheme: dark) {
    color: rgba(118, 118, 128, 0.24);
  }

  @media (prefers-color-scheme: light) {
    color: silver;
  }
}

:not(&.disabled) {
  cursor: pointer;
}
