.navigationBar {
  display: flex;
  width: 100%;
  align-items: center;
  height: 44px;
}

.backButtonContainer {
  margin-left: 5px;
  display: flex;
  align-items: center;
  height: 44px;
  z-index: 100;
  cursor: pointer;
}

.title {
  font-size: 17px;
  color: #007aff;
  font: var(--font);
  margin-top: -4px;
  margin-left: 10px;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.cardContent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.cardContentLeft {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.cardContentLeftDate {
  height: 20px;
  overflow-y: hidden;
}

.cardContentRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.transactionCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
