.root {
  display: flex;
  width: 100%;
  align-items: center;
  height: 44px;
}

.backButton {
  margin-left: 5px;
  display: flex;
  align-items: center;
  height: 44px;
  z-index: 100;
  cursor: pointer;
}

.titleContainer {
  margin-top: 10px;
}

.insights {
  font-size: 17px;
  color: #007aff;
  font-family: var(--app-proportional-font-family);
  margin-top: -4px;
  margin-left: 10px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.cardContents {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.dateRangeTotalContainer {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.dateRange {
  height: 20px;
  overflow-y: hidden;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.transactionCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
