.navigationBar {
  display: flex;
  width: 100%;
  align-items: center;
  height: 44px;
}

.navigationBarBackButtonContainer {
  margin-left: 5px;
  display: flex;
  align-items: center;
  height: 44px;
  z-index: 100;
  cursor: pointer;
}

.navigationBarBackButtonContainerTitle {
  font-size: 17px;
  color: #007aff;
  font-family: var(--font-family);
  margin-top: -4px;
  margin-left: 10px;
}

.transactionCardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.incomeCardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}

.expenseCardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}
