.navigationBar {
  display: flex;
  width: 100%;
  align-items: center;
  height: 44px;
}

.navigationBarBack {
  display: flex;
  align-items: center;
  height: 44px;
  z-index: 100;
  cursor: pointer;
}

.title {
  font-size: 17px;
  color: #007aff;
  font-family: var(--font-family);
  margin-top: -4px;
  margin-left: 10px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.cardContents {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.cardContentsLeft {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.cardContentsHeadline {
  height: 20px;
  overflow-y: hidden;
}

.cardContentsRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.transactionsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.transactionsContainerCard {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.transactionsContainerCardHeadlineContainer {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.transactionsContainerCardHeadline {
  height: 20px;
  overflow-y: hidden;
}

.transactionsContainerCardRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.transactionsCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
