.cardContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.tbdContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
}
