.accounts {
  display: flex;
  flex-direction: column;
}

.account {
  display: flex;
  gap: 1rem;
}

.accountName {
  font-weight: bold;
}

.accountBalance {
  font-family: 'Courier New', Courier, monospace;
}