.disabled {
  @media (prefers-color-scheme: dark) {
    fill: silver;
  }

  @media (prefers-color-scheme: light) {
    fill: silver;
  }
}

.enabled {
  @media (prefers-color-scheme: dark) {
    fill: white;
  }

  @media (prefers-color-scheme: light) {
    fill: black;
  }
}
