.indicator {
  width: var(--indicator-container-size);
  height: var(--indicator-container-size);
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.saturated,
.desaturated {
  fill: silver;
}

.small {
  height: 14px;
  width: 14px;
}

.medium {
  height: 19.92px;
  width: 19.92px;
}
