@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.spinner {
  &::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 4px #969696;

    @media (prefers-color-scheme: dark) {
      border-bottom-color: #007aff;
    }

    @media (prefers-color-scheme: light) {
      border-bottom-color: #007aff;
    }
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate3d(-50%, -50%, 0); */
    will-change: transform;
  }

  &.small {
    &::before {
      height: 20px;
      width: 20px;
    }
  }

  &.medium {
    &::before {
      height: 40px;
      width: 40px;
    }
  }

  &.large {
    &::before {
      height: 60px;
      width: 60px;
    }
  }
}
