.budgetCards {
  width: 375px;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
  height: 220px;
  overflow-y: hidden;
  overflow-x: auto;

  scroll-snap-type: x mandatory;
  scroll-margin-right: 10px;
  scroll-margin-left: 10px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}
