.root {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
}

.checked {
  display: flex;
  flex-direction: column;
  align-self: center;
}
