.navigationBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}

.spaceBetween {
  justify-content: space-between;
}

.centerLeft {
  justify-content: flex-start;
}

.toggleButton {
  display: flex;
  flex-direction: row;
  z-index: 4;
  transition: 0.5s ease;

  width: 100%;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}
