.message {
  display: flex;
  height: 60px;

  background-color: white;
  padding: 10px;

  align-items: center;
}

.messageStatus {
  flex: 0;
}

.messageMessage {
  flex: 1;

  margin-right: 10px;
  margin-left: 10px;

  & > input {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;

    &:focus {
      border: 1px solid black;
      border-radius: 25px;
    }
  }
}

.messageButton {
  flex: 0;

  & > button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
  }
}

.logs {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: white;
  padding: 10px;

  overflow-y: auto;

  height: calc(100vh - 120px);
}

.log {
  display: flex;
  flex-direction: column;
}

.logDate {
  font-size: 12px;
  color: rgb(128, 128, 128);

  margin-bottom: 5px;
}

.logMessage {
  font-size: 16px;

  padding: 12px;
  border-radius: 20px;

  white-space: pre-wrap;
}

.request {
  margin-left: auto;

  .logMessage {
    background-color: rgb(64, 136, 246);
    color: white;
  }
}

.response {
  margin-right: auto;

  .logMessage {
    background-color: rgb(249, 249, 249);
    color: black;
  }
}
